#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-section {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 25vh);
  grid-gap: 10px;
}

.hero-card > h2 {
  white-space: nowrap;
  font-size: clamp(0.8rem, -0.2400rem + 3.7333vw, 1.5rem);
}

.hero-card {
  padding: 5%;
  overflow: hidden;
}

.img-container > img {
  width: 100%;
  max-height: 15vh;
  object-fit: scale-down;
}